body {
    color: black;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 45px;
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 38px;
}

table {
    margin: 0 auto;
}

a {
    font-size: 38px;
    border: dotted 1px;
    padding: 5px 7px 5px 7px;
    border-radius: 4px;
}

a.pic {
	margin: 0;
    padding: 0;
	border: none;
    border-radius: 0;
}

a.prev {
    font-size: 28px;
    padding: 45px 0 0 0;
    text-align: center;
	margin-left: 70px;
	position: fixed;
	top: 250px;
    width: 220px;
    height: 130px;
	float: left;
}

a.prev.report {
    padding: 10px 0 0 0;
    bottom: 150px;
    left: 70px;
    width: 140px;
    height: 70px;
}

p.error {
    text-align: center;
    position: absolute;

}

input[type="radio"] {
  margin: 0 5px 0 5px;
}

.row {
    text-align: center;
}

.page {
    width: 100%;
    min-height: 70%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 45px;
}

.page.table {
    width: 55%;
    top: 10px;
    min-height: 0;
    padding-bottom: 0;
}

.page.home {
    top: 200px;
    min-height: 60%;
}

.page.form {
    /*border: solid;*/
    width: 600px;
    min-height: 20%;
    padding-bottom: 0;
    top: 0;
}

img {
    position: absolute;
    top: 0;
    padding-top: 0;
    width: 240px;
    height: 120px;
    z-index: 100;
}

img.right {
    right: 0;
}

button.form {
    height: 45px;
    width: 100px;
    padding: 5px 7px 5px 7px;
}

#reset-btn {
    height: 45px;
    width: 100px;
    padding: 5px 7px 5px 7px;
}

footer {
    text-align: center;
    position: absolute;
    font-size: 14px;
    bottom: 0;
    width: 100%;
    height: 45px;
    color: black;
}

footer.service {
    position: static;
	margin: 20px auto;
}