body {
    background: linear-gradient(150deg, #001b87, #0ebae1);
    background-size: 200% 200%;

    font-family: Open Sans, sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;

    -webkit-animation: ocean 20s ease infinite;
    -moz-animation: ocean 20s ease infinite;
    animation: ocean 20s ease infinite;
}

/* header stuff */

header {
    width: 100%;
    margin: 8px auto 80px auto;
    position: absolute;
}

h1 {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 0.03em;
    line-height: 39px;
    margin: 0;
}

h2 {
    font-size: 26px;
    font-family: 'Roboto';
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.title {
    width: 290px;
    margin: 0 auto 0 auto;
}

hr {
    margin: 4px 0 0 0 ;
}

#boat {
    margin: 0 6px 3px auto;
    height: 32px;
    width: 32px;
}

/* end of header stuff */

/* form stuff */

label {
    color: white;
    font-family: 'Roboto';
    letter-spacing: 0.04em;
}

input[type=text] {
    background: transparent;
    border-color: white;
    border-radius: 4px;
    font-family: 'Roboto';
    /*font-weight: 600;*/
    color: white;
    transition: none;
}

input[type=text]:focus {
    border: 1px solid white;
    background: inherit;
    box-shadow: 0 0 2px white;
}

/* end of form stuff */

/* UI stuff */

.btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  background: transparent;
  outline: transparent;
  font-family: Roboto;
  color: white;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 1px;
  text-decoration: none;
  transition: background-color 400ms ease-out;
}

.btn.home {
    margin: 22px 50px 0 50px;
    font-size: 27px;
    width: 200px;
    height: 130px;
}

.btn.maint {
    width: 100px;
}

.btn.maint.menu {
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  height: 80px;
  width: 120px;
}

.btn.maint.menu.selected {
  background: white;
  color: #0A829E;
}

.btn.maint.menu:focus {
  background: white;
  color: #0A829E;
}

.btn.maint.menu:hover {
  background: white;
  color: #0A829E;
}



.btn.delete {
    background: rgba(255, 0, 0, 0.1);
}

.btn.delete:hover {
     background: rgba(255, 0, 0, 0.5);
     color: white;
}

.btn.delete:focus {
     background: rgba(255, 0, 0, 0.1);
     color: white;
     box-shadow: 0 0 5px white;
}

.btn:hover {
  background: white;
  color: #0A829E;
}

.btn:active {
    outline: transparent;
    color: #0A829E;
}

.btn:focus {
    box-shadow: 0 0 5px white;
    background: rgba(255, 255, 255, 0.2);
    color: inherit;
}

.button.postfix {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 0 6px 6px 0;
  background: transparent;
  outline: transparent;
  font-family: 'Roboto';
  text-align: center;
  color: white;
  font-size: 16px;
  border: solid #ffffff 1px;
  text-decoration: none;
  transition: background-color 400ms ease-out;
}

.button.postfix:hover {
  background: white;
  color: #0A829E;
}

/* end of UI stuff */

.page {
    width: 700px;
    height: 550px;
    margin: 0 auto;
    position: relative;
    top: 30px;
}

.notify {
    padding: 5px 0 15px 0;
    /*margin: 10px 0 5px 0;*/
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
}

.notify.error {
  color: red;
}

.maint-menu {
    /*border: dotted 1px;*/
}

.maint-input {
  position: relative;
  width: 550px;
  right: 40px;
}

.maint-buttons {
    position: relative;
    left: 15px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
    font-size: 13px;
}


/* for background gradient animation */
@-webkit-keyframes ocean {
    0%{background-position:88% 0}
    50%{background-position:13% 100%}
    100%{background-position:88% 0}
}

@-moz-keyframes ocean {
    0%{background-position:88% 0}
    50%{background-position:13% 100%}
    100%{background-position:88% 0}
}

@keyframes ocean { 
    0%{background-position:88% 0}
    50%{background-position:13% 100%}
    100%{background-position:88% 0}
}

